body
{
    text-align: center;
}

#main
{
    text-align: left;
    width: 1025px;
    margin: auto;
    background-color: white;
}

#header
{
    margin-top: 100px;
    width: 100%;
    height: 100px;
    background-color: yellow;
    background-repeat: no-repeat;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#menu
{
    width: 100%;
    text-align: center;
}

#menu table
{
    table-layout: fixed;
    padding: 0px;
    width: 100%;
    background-color: black;
    margin-bottom: 5px; 
}

#menu td
{
    text-align: center;
    background-color: yellowgreen;
    cursor: default;
    color: black;
    font-size: 2em;
}

#menu td:hover
{
    background-color: chocolate;
}

#menu a
{
    display: block;
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
    cursor: default;
}

#content
{
    margin-top: 2em;
    padding: 1em;
    border: 2px solid black;
}

#content .button_center
{
   text-align: center;
   margin-top: 1em;
}

#footer
{
    width: 100%;
}

h1
{
    text-align: center;
    font-size: 3em;
    font-family: Impact, Charcoal, sans-serif;
}

h1 a
{
    color: black;
    text-decoration: none;
}

#Table
{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #b0c4de;
}

#Table .edit
{
    width: 90%;
}

#Table td
{
    cursor: default;    
}

#Table .no_edit input[type="text"], textarea {

    text-align: center;
    border: none;
}

.TableRow
{
    background-color: #ffffff;
} 
.TableRow td
{
    text-align: center;
    cursor: default;
}

.TableRowHover
{
    background-color: #b0a389;
}

.TableRowHover td
{
    text-align: center;
    cursor: default;
}

.blue
{
    background-color: #b0c4de;
}

.hideable
{
    display: none;
}



